@import "../../../../styles/variables";

.Cross {
  background: $primary-color;
  height: 75px;
  position: relative;
  width: 15px;

  &::after {
    background: $primary-color;
    content: '';
    height: 15px;
    left: -30px;
    position: absolute;
    top: 30px;
    width: 75px;
  }
}