@import "../../../../styles/variables.scss";

.MagnifyingGlass {
  font-size: 10em;
  display: inline-block;
  width: 0.4em;
  box-sizing: content-box;
  height: 0.4em;
  border: 0.1em solid $primary-color;
  position: relative;
  border-radius: 0.35em;
  &:before {
    content: "";
    display: inline-block;
    position: absolute;
    right: -0.25em;
    bottom: -0.1em;
    border-width: 0;
    background: $primary-color;
    width: 0.35em;
    height: 0.08em;
    transform: rotate(45deg);
  }
}