@import "../../../../styles/variables.scss";

.BadgeRibbon {
  position: relative;
  background: $primary-color;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  &:before {
    content: '';
    position: absolute;
    border-bottom: 70px solid $primary-color;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    top: 70px;
    left: -10px;
    transform: rotate(-140deg);
  }
  &:after {
    left: auto;
    right: -10px;
    transform: rotate(140deg);
  }
}